# Data Science Tools and Ecosystem

### In this notebook, Data Science Tools and Ecosystem are summarized.

### Some of the popular languages that Data Scientists use are:
#### 1. Python
#### 2. R
#### 3. Matlab

### Some of the commonly used libraries used by Data Scientists include:
#### 1. Matplotlib 
#### 2. Numpy
#### 3. Pandas

<table>
<tr>
<th>Data Science Tools</th>
</tr>
    <tr>
        <td>
            Jupyter Notebook
        </td>
    </tr>
    <tr>
        <td>
            Weka
        </td>
    </tr>
    <tr>
        <td>
            PowerBi
        </td>
    </tr>
</table>

### Below are a few examples of evaluating arithmetic expressions in Python

This a simple arithmetic expression to mutiply then add integers

In [2]:
(3*4)+5

17

This will convert 200 minutes to hours by diving by 60

In [4]:
200/60

3.3333333333333335

**Objectives:**

* Python
* R
* Matlab

## Author
Raneem Alqahtani